@import url('https://api.fonts.coollabs.io/css2?family=Lato:wght@400;700&display=swap');

:root {
    --clr-background: #eeeeee;
    --clr-content: #f9f9f9;
    --clr-text-main: #444444;
    --clr-text-secondary: #666666;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
      scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  color: var(--clr-text-main);
  background-color: var(--clr-background);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
}

ol, ul {
list-style: none;
  margin: 0;
  padding: 0;
}

img, picture, svg, video {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem 0 1rem;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 100%;
}

@media screen and (max-width: 575px) {
  .container {
      max-width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .container {
      max-width: 540px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
      max-width: 720px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
      max-width: 960px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
      max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
      max-width: 1320px;
  }
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: .25rem !important;
  padding-right: .25rem !important;
}

.px-2 {
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}

.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.px-5 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
